<div class="kitten-details">
    <p class="kitten-name"> <%= @kitten.name %> </p>
    <div class="kitten-data-container">
        <div class="kitten-data kitten-age">
            <div class="kitten-field">Age</div>
            <div class="kitten-value"> <%= @kitten.age %> </div>
        </div>
        <div class="kitten-data kitten-cute">
            <div class="kitten-field">Cuteness</div>
            <div class="kitten-value"> <%= @kitten.cuteness %> </div>
        </div>
        <div class="kitten-data kitten-soft">
            <div class="kitten-field">Softness</div>
            <div class="kitten-value"> <%= @kitten.softness %> </div>
        </div>
    </div>
</div>